parts/advanteges.html

<section>
  <div class="advanteges-wrap" id="ad">
    <div class="row">
      <div class="advanteges clearfix">
        <div class="advanteges__content column large-5">
          <div class="advanteges__cont">
            <div class="advanteges-title">
              <div class="title"><span>ПЕРЕВАГИ</span></div>
            </div>
            <div class="advanteges-text">
              <p>Високий рівень обслуговуваня та  комфору, зробить ваш відпочинок ідеальним!</p>
            </div>
            <div class="advanteges-icons">
              <div class="advanteges-icon large-4 small-6 column">
                <div class="advanteges-icon__img"><img src="./dist/images/icon1.svg" alt=""/></div>
                <div class="advanteges-icon__text"><span>Ресторан Хороша кухня </span></div>
              </div>
              <div class="advanteges-icon large-4 small-6 column">
                <div class="advanteges-icon__img"><img src="./dist/images/icon2.svg" alt=""/></div>
                <div class="advanteges-icon__text"><span>Надзвичайно красиві краєвиди з вікна</span></div>
              </div>
              <div class="advanteges-icon large-4 small-6 column">
                <div class="advanteges-icon__img"><img src="./dist/images/icon4.svg" alt=""/></div>
                <div class="advanteges-icon__text"><span>Приміщення для зберігання лиж</span></div>
              </div>
              <div class="advanteges-icon large-4 small-6 column">
                <div class="advanteges-icon__img"><img src="./dist/images/icon5.svg" alt=""/></div>
                <div class="advanteges-icon__text"><span>Безкоштовна парковка  </span></div>
              </div>
              <div class="advanteges-icon large-4 small-6 column">
                <div class="advanteges-icon__img"><img src="./dist/images/icon6.svg" alt=""/></div>
                <div class="advanteges-icon__text"><span>Конференц зал на 50 чоловік</span></div>
              </div>
              <div class="advanteges-icon large-4 small-6 column">
                <div class="advanteges-icon__img"><img src="./dist/images/icon7.svg" alt=""/></div>
                <div class="advanteges-icon__text"><span>Трансфер до готелю та підйомників </span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="advanteges__img column large-7"><img src="./dist/images/foto.png" alt=""/></div>
      </div>
    </div>
  </div>
</section>

pug/parts/advanteges.pug
section
	
		#ad.advanteges-wrap
			.row
				.advanteges.clearfix
					.advanteges__content.column.large-5
						.advanteges__cont
							.advanteges-title
								.title
									span ПЕРЕВАГИ
							.advanteges-text
								p Високий рівень обслуговуваня та  комфору, зробить ваш відпочинок ідеальним!
							.advanteges-icons
								.advanteges-icon.large-4.small-6.column
									.advanteges-icon__img
										img(src="./dist/images/icon1.svg", alt="")
									.advanteges-icon__text
										span Ресторан Хороша кухня 
								.advanteges-icon.large-4.small-6.column
									.advanteges-icon__img
										img(src="./dist/images/icon2.svg", alt="")
									.advanteges-icon__text
										span Надзвичайно красиві краєвиди з вікна
								.advanteges-icon.large-4.small-6.column
									.advanteges-icon__img
										img(src="./dist/images/icon4.svg", alt="")
									.advanteges-icon__text
										span Приміщення для зберігання лиж
								.advanteges-icon.large-4.small-6.column
									.advanteges-icon__img
										img(src="./dist/images/icon5.svg", alt="")
									.advanteges-icon__text
										span Безкоштовна парковка  
								.advanteges-icon.large-4.small-6.column
									.advanteges-icon__img
										img(src="./dist/images/icon6.svg", alt="")
									.advanteges-icon__text
										span Конференц зал на 50 чоловік
								.advanteges-icon.large-4.small-6.column
									.advanteges-icon__img
										img(src="./dist/images/icon7.svg", alt="")
									.advanteges-icon__text
										span Трансфер до готелю та підйомників 
					.advanteges__img.column.large-7
						img(src="./dist/images/foto.png", alt="")
