pug/parts/conveniencesNew.pug
section
	.row
		#conv.conveniences
			.conveniences__title
				.title.center
					span ЗРУЧНОСТІ
			.conveniences__items
				
					.conveniences-item
						.conveniences-item__img
							img(src="./dist/images/conveniences-item_1.png", alt="")
						.conveniences-item__title
							span Кімната відпочинку
						.conveniences-item__text
							p До Ваших послуг два ресторани, кімната відпочинку з більярдом та камінною залою. Кожен день від готелю працює трансфер до найближчих гірськолижних спусків.
				
					.conveniences-item
						.conveniences-item__img
							img(src="./dist/images/conveniences-item_2.png", alt="")
						.conveniences-item__title
							span аутентичний готель
						.conveniences-item__text
							p На вас чекає новий сучасний готель з розкішними номерами, котрі виконані у автентичному стилі, який поєднує дерево, камінь та текстильні елементи. Гірські краєвиди та сервіс на найвищому рівні.
			
					.conveniences-item
						.conveniences-item__img
							img(src="./dist/images/conveniences-item_3.png", alt="")
						.conveniences-item__title
							span дитяча кімната
						.conveniences-item__text
							p Для ваших діточок в готелі є дитяча кімната з різними  іграшками, ігровою приставкою, настільним тенісом та багато іншого. Щодня професійні аніматори проводять майстер-класи та приділяють увагу кожній дитині.

parts/conveniencesNew.html

<section>
  <div class="row">
    <div class="conveniences" id="conv">
      <div class="conveniences__title">
        <div class="title center"><span>ЗРУЧНОСТІ</span></div>
      </div>
      <div class="conveniences__items">
        <div class="conveniences-item">
          <div class="conveniences-item__img"><img src="./dist/images/conveniences-item_1.png" alt=""/></div>
          <div class="conveniences-item__title"><span>Кімната відпочинку</span></div>
          <div class="conveniences-item__text">
            <p>До Ваших послуг два ресторани, кімната відпочинку з більярдом та камінною залою. Кожен день від готелю працює трансфер до найближчих гірськолижних спусків.</p>
          </div>
        </div>
        <div class="conveniences-item">
          <div class="conveniences-item__img"><img src="./dist/images/conveniences-item_2.png" alt=""/></div>
          <div class="conveniences-item__title"><span>аутентичний готель</span></div>
          <div class="conveniences-item__text">
            <p>На вас чекає новий сучасний готель з розкішними номерами, котрі виконані у автентичному стилі, який поєднує дерево, камінь та текстильні елементи. Гірські краєвиди та сервіс на найвищому рівні.</p>
          </div>
        </div>
        <div class="conveniences-item">
          <div class="conveniences-item__img"><img src="./dist/images/conveniences-item_3.png" alt=""/></div>
          <div class="conveniences-item__title"><span>дитяча кімната</span></div>
          <div class="conveniences-item__text">
            <p>Для ваших діточок в готелі є дитяча кімната з різними  іграшками, ігровою приставкою, настільним тенісом та багато іншого. Щодня професійні аніматори проводять майстер-класи та приділяють увагу кожній дитині.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
