parts/conveniences.html

<section>
  <div class="row">
    <div class="conveniences clearfix" id="conv">
      <div class="conveniences__text columns large-4 medium-12 large-offset-1">
        <div class="title"><span>ЗРУЧНОСТІ</span></div>
        <div class="text">
          <p>На вас чекає новий сучасний готель з автентичними інтер’єрами, дивовижними краєвидами та обслуговуванням на вищому рівні. До ваших послуг розкішні апартаменти, виконані у автентичному стилі, що гармонійно поєднує дерево, камінь та текстильні елементи.</p>
        </div>
      </div>
      <div class="conveniences__img columns large-7 medium-12"><img src="./dist/images/foto2.png" alt=""/></div>
    </div>
  </div>
</section>

pug/parts/conveniences.pug
section
	.row
		#conv.conveniences.clearfix
			.conveniences__text.columns.large-4.medium-12.large-offset-1
				.title
					span ЗРУЧНОСТІ
				.text
					p На вас чекає новий сучасний готель з автентичними інтер’єрами, дивовижними краєвидами та обслуговуванням на вищому рівні. До ваших послуг розкішні апартаменти, виконані у автентичному стилі, що гармонійно поєднує дерево, камінь та текстильні елементи.
			.conveniences__img.columns.large-7.medium-12
				img(src="./dist/images/foto2.png", alt="")
