pug/parts/headerNew.pug
header
	include ./popup-form
	.header.header_transparent

		
			.header-top-wrap
				.row
					.header__top

						.top-menu
							nav
								ul
									li 
										a(href="#") УКР
									li
										a(href="video.html") 3D Панорами
									li
										a(href="blog.html") Блог
									li
										a(href="") Відео
						.top-contacts
							span Інформація за телефоном:
							a(href="tel:+380 98 80 10 800") +380 98 80 10 800
			.header__menu
				.mob_open
					.icon
						.burger
				.logo-mob
					a(href="index.html")
						//- img.logo-black(src="./dist/images/form_logo.png", alt="")
						img.logo-white(src="./dist/images/footer-logo.png", alt="")
				.row
					.nav-menu
						ul.nav-menu_left.h-menu
							li
								a(href="#") ПРО ГОТЕЛЬ
							li
								a(href="index.html#rooms") НОМЕРИ
							li
								a(href="restaurant.html") ресторан
						.header__logo
							a(href="index.html")
								img.logo-black(src="./dist/images/form_logo.png", alt="")
								img.logo-white(src="./dist/images/footer-logo.png", alt="")
						ul.nav-menu_right.h-menu
							li
								a(href="#") ЗРУЧНОСТІ
							li
								a(href="#") бронювання
							li
								a(href="contacts.html") КОНТАКТИ
						.bottom-mob-menu.show-for-small-only
							nav
								ul
									li 
										a(href="#") УКР
									li
										a(href="video.html") 3D Панорами
									li
										a(href="blog.html") Блог
									li
										a(href="#") Відео
							.bottom-mob-menu__phone
								p Інформація за телефоном:
								a(href="tel:+380 98 80 10 800") +380 98 80 10 800

parts/headerNew.html

<header>
  <div class="reveal" id="exampleModal1" data-reveal="">
    <div class="popupForm clearfix">
      <div class="form__logo"><img src="./dist/images/form_logo.png" alt=""/></div>
      <div class="form_tabs">
        <ul>
          <li class="form1 tab-active" data-collection="1" data-triger="0">БРОНЮВАННЯ</li>
          <li class="form2" data-collection="1" data-triger="1">ЗВ’ЯЗАТИСЬ</li>
        </ul>
      </div>
      <div class="booking_form pop_form active" data-collection="1" data-target="0">
        <div class="contact_us__success">
          <h2>ВІДПРАВЛЕННЯ ЗАЯВКИ УСПІШНЕ!</h2>
          <p>Ви успішно відправили заявку до готелю “Гірскі”. Очікуйте дзвінка від менеджера.</p>
          <button class="close-button" id="btn_success" data-close="" aria-label="Close reveal" type="button">Закрити</button>
        </div>
        <form class="book_form">
          <div class="large-6 medium-6 small-12">
            <p>Номер:</p>
            <select name="classRoom">
              <option>Вибрати номер</option>
              <option>Стандарт</option>
              <option>Напівлюкс</option>
              <option>Люкс</option>
            </select>
          </div>
          <div class="large-6 medium-6 small-12">
            <div class="number">
              <div class="Adults large-6 medium-6">
                <p>Дорослих:</p>
                <div class="value-button" id="decrease" value="Decrease Value">-</div>
                <input type="number" name="Adults" id="number" value="0"/>
                <div class="value-button" id="increase" value="Increase Value">+</div>
              </div>
              <div class="Children large-6 medium-6">
                <p>Дітей:</p>
                <div class="value-button" id="decrease2" value="Decrease Value">-</div>
                <input type="number" name="Children" id="number2" value="0"/>
                <div class="value-button" id="increase2" value="Increase Value">+</div>
              </div>
            </div>
          </div>
          <div class="large-6 medium-6 small-12">
            <p>Дата заїзду</p>
            <input class="datepicker-begin" type="text" name="date_begin" readonly="readonly" id="date_begin" required="required"/>
          </div>
          <div class="large-6 medium-6 small-12">
            <p>Дата виїзду</p>
            <input class="datepicker-finish" type="text" id="date_end" readonly="readonly" name="date_end" required="required"/>
          </div>
          <div class="large-6 medium-6 small-12">
            <p>Ім’я </p>
            <input type="text" name="name" placeholder="Введіть Ім’я "/>
          </div>
          <div class="large-6 medium-6 small-12">
            <p>Телефон </p>
            <input type="text" name="phone" placeholder="Введіть Телефон"/>
          </div>
          <div class="large-12 medium-12 small-12">
            <p>Уточнення</p>
            <textarea placeholder="Введіть Повідомлення"></textarea>
          </div>
          <div class="form_text">
            <p>Передоплата в розмірі 50%, заїзд — до 14:00, виїзд — після 12:00</p>
          </div>
          <div class="popupForm__btn columns">
            <button class="button success" type="submit">Записатись</button>
          </div>
        </form>
      </div>
      <div class="contact_form pop_form" data-collection="1" data-target="1">
        <div class="contact_us__success">
          <h2>ВІДПРАВЛЕННЯ ЗАЯВКИ УСПІШНЕ!</h2>
          <p>Ви успішно відправили заявку до готелю “Гірскі”. Очікуйте дзвінка від менеджера.</p>
          <button class="close-button" id="btn_success" data-close="" aria-label="Close reveal" type="button">Закрити</button>
        </div>
        <form class="book_form">
          <div class="form-text">
            <p>Зателефонуйте нам, або заповніть форму і ми вам передзвоннм</p><a href="tel: +380 98 80 10 800">+380 98 80 10 800</a>
          </div>
          <div class="columns">
            <p>Ім’я 
              <input type="text"/>
            </p>
            <p>Телефон
              <input type="text"/>
            </p>
            <div class="popupForm__btn columns">
              <button class="button success" type="submit">Записатись</button>
            </div>
          </div>
        </form>
      </div>
      <div class="form__img"><img src="./dist/images/form-img.png" alt=""/></div>
    </div>
    <button class="close-button" data-close="" aria-label="Close reveal" type="button"><span aria-hidden="true">×</span></button>
  </div>
  <div class="header header_transparent">
    <div class="header-top-wrap">
      <div class="row">
        <div class="header__top">
          <div class="top-menu">
            <nav>
              <ul>
                <li> <a href="#">УКР</a></li>
                <li><a href="video.html">3D Панорами</a></li>
                <li><a href="blog.html">Блог</a></li>
                <li><a href="">Відео</a></li>
              </ul>
            </nav>
          </div>
          <div class="top-contacts"><span>Інформація за телефоном:</span><a href="tel:+380 98 80 10 800">+380 98 80 10 800</a></div>
        </div>
      </div>
    </div>
    <div class="header__menu">
      <div class="mob_open">
        <div class="icon">
          <div class="burger"></div>
        </div>
      </div>
      <div class="logo-mob"><a href="index.html"><img class="logo-white" src="./dist/images/footer-logo.png" alt=""/></a></div>
      <div class="row">
        <div class="nav-menu">
          <ul class="nav-menu_left h-menu">
            <li><a href="#">ПРО ГОТЕЛЬ</a></li>
            <li><a href="index.html#rooms">НОМЕРИ</a></li>
            <li><a href="restaurant.html">ресторан</a></li>
          </ul>
          <div class="header__logo"><a href="index.html"><img class="logo-black" src="./dist/images/form_logo.png" alt=""/><img class="logo-white" src="./dist/images/footer-logo.png" alt=""/></a></div>
          <ul class="nav-menu_right h-menu">
            <li><a href="#">ЗРУЧНОСТІ</a></li>
            <li><a href="#">бронювання</a></li>
            <li><a href="contacts.html">КОНТАКТИ</a></li>
          </ul>
          <div class="bottom-mob-menu show-for-small-only">
            <nav>
              <ul>
                <li> <a href="#">УКР</a></li>
                <li><a href="video.html">3D Панорами</a></li>
                <li><a href="blog.html">Блог</a></li>
                <li><a href="#">Відео</a></li>
              </ul>
            </nav>
            <div class="bottom-mob-menu__phone">
              <p>Інформація за телефоном:</p><a href="tel:+380 98 80 10 800">+380 98 80 10 800</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
