pug/parts/HomeSliderNew.pug
slider
	#homeSlider.homeSlider
		.homeSlider-item
			.homeSlider-item__img
				img(src="./dist/images/slider_item_3.png", alt="")
			.row
				.homeSlider-item__info
					.slider_title
						span GIRSKI hotel&spa
					.slider_text
						p На вас чекає новий сучасний готель з автентичними інтер’єрами, дивовижними краєвидами та обслуговуванням на вищому рівні.
					.slider_btn
						a.btn.btn_brown(href="#")
							span номери
		.homeSlider-item
			.homeSlider-item__img
				img(src="./dist/images/slider_item_2.png", alt="")
			.row
				.homeSlider-item__info
					.slider_title
						span GIRSKI hotel&spa
					.slider_text
						p На вас чекає новий сучасний готель з автентичними інтер’єрами, дивовижними краєвидами та обслуговуванням на вищому рівні.
					.slider_btn
						a.btn.btn_brown(href="#")
							span номери
		.homeSlider-item
			.homeSlider-item__img
				img(src="./dist/images/slider_item.png", alt="")
			.row
				.homeSlider-item__info
					.slider_title
						span GIRSKI hotel&spa
					.slider_text
						p На вас чекає новий сучасний готель з автентичними інтер’єрами, дивовижними краєвидами та обслуговуванням на вищому рівні.
					.slider_btn
						a.btn.btn_brown(href="#")
							span номери

parts/HomeSliderNew.html

<slider>
  <div class="homeSlider" id="homeSlider">
    <div class="homeSlider-item">
      <div class="homeSlider-item__img"><img src="./dist/images/slider_item_3.png" alt=""/></div>
      <div class="row">
        <div class="homeSlider-item__info">
          <div class="slider_title"><span>GIRSKI hotel&spa</span></div>
          <div class="slider_text">
            <p>На вас чекає новий сучасний готель з автентичними інтер’єрами, дивовижними краєвидами та обслуговуванням на вищому рівні.</p>
          </div>
          <div class="slider_btn"><a class="btn btn_brown" href="#"><span>номери</span></a></div>
        </div>
      </div>
    </div>
    <div class="homeSlider-item">
      <div class="homeSlider-item__img"><img src="./dist/images/slider_item_2.png" alt=""/></div>
      <div class="row">
        <div class="homeSlider-item__info">
          <div class="slider_title"><span>GIRSKI hotel&spa</span></div>
          <div class="slider_text">
            <p>На вас чекає новий сучасний готель з автентичними інтер’єрами, дивовижними краєвидами та обслуговуванням на вищому рівні.</p>
          </div>
          <div class="slider_btn"><a class="btn btn_brown" href="#"><span>номери</span></a></div>
        </div>
      </div>
    </div>
    <div class="homeSlider-item">
      <div class="homeSlider-item__img"><img src="./dist/images/slider_item.png" alt=""/></div>
      <div class="row">
        <div class="homeSlider-item__info">
          <div class="slider_title"><span>GIRSKI hotel&spa</span></div>
          <div class="slider_text">
            <p>На вас чекає новий сучасний готель з автентичними інтер’єрами, дивовижними краєвидами та обслуговуванням на вищому рівні.</p>
          </div>
          <div class="slider_btn"><a class="btn btn_brown" href="#"><span>номери</span></a></div>
        </div>
      </div>
    </div>
  </div>
</slider>
