parts/inclusive.html

<section>
  <div class="row">
    <div class="inclusive clearfix">
      <div class="inclusive__title">
        <div class="title right"><span>ВКЛЮЧЕНО</span></div>
      </div>
      <div class="inclusive__foto column large-6 medium-12"><img src="./dist/images/foto3.png" alt=""/><img src="./dist/images/room_item.png" alt=""/></div>
      <div class="inclusive__icons column large-6 medium-12">
        <article class="inclusive-icon column large-4 medium-4 small-6">
          <div class="inclusive-icon__img"><img src="./dist/images/inclusive-icon_1.svg" alt=""/></div>
          <div class="inclusive-icon__text"><span>Чайник</span></div>
        </article>
        <article class="inclusive-icon column large-4 medium-4 small-6">
          <div class="inclusive-icon__img"><img src="./dist/images/television.svg" alt=""/></div>
          <div class="inclusive-icon__text"><span>Сучасний телевізор</span></div>
        </article>
        <article class="inclusive-icon column large-4 medium-4 small-6">
          <div class="inclusive-icon__img"><img src="./dist/images/wifi.svg" alt=""/></div>
          <div class="inclusive-icon__text"><span>Інтернет</span></div>
        </article>
        <article class="inclusive-icon column large-4 medium-4 small-6">
          <div class="inclusive-icon__img"><img src="./dist/images/strongbox.svg" alt=""/></div>
          <div class="inclusive-icon__text"><span>Приватний сейф</span></div>
        </article>
        <article class="inclusive-icon column large-4 medium-4 small-6">
          <div class="inclusive-icon__img"><img src="./dist/images/hair-dryer.svg" alt=""/></div>
          <div class="inclusive-icon__text"><span>Фен</span></div>
        </article>
        <article class="inclusive-icon column large-4 medium-4 small-6">
          <div class="inclusive-icon__img"><img src="./dist/images/wine.svg" alt=""/></div>
          <div class="inclusive-icon__text"><span>Міні бар</span></div>
        </article>
        <article class="inclusive-icon column large-4 medium-4 small-6">
          <div class="inclusive-icon__img"><img src="./dist/images/slippers.svg" alt=""/></div>
          <div class="inclusive-icon__text"><span>Персональні тапки</span></div>
        </article>
        <article class="inclusive-icon column large-4 medium-4 small-6">
          <div class="inclusive-icon__img"><img src="./dist/images/Vector.svg" alt=""/></div>
          <div class="inclusive-icon__text"><span>М’які рушники</span></div>
        </article>
        <article class="inclusive-icon column large-4 medium-4 small-6">
          <div class="inclusive-icon__img"><img src="./dist/images/bathrobe.svg" alt=""/></div>
          <div class="inclusive-icon__text"><span>Махрові халати</span></div>
        </article>
      </div>
    </div>
  </div>
</section>

pug/parts/inclusive.pug
section
	.row
		.inclusive.clearfix
			.inclusive__title
				.title.right
					span ВКЛЮЧЕНО
			.inclusive__foto.column.large-6.medium-12
				img(src="./dist/images/foto3.png", alt="")
				img(src="./dist/images/room_item.png", alt="")
			.inclusive__icons.column.large-6.medium-12
				article.inclusive-icon.column.large-4.medium-4.small-6
					.inclusive-icon__img
						img(src="./dist/images/inclusive-icon_1.svg", alt="")
					.inclusive-icon__text
						span Чайник
				article.inclusive-icon.column.large-4.medium-4.small-6
					.inclusive-icon__img
						img(src="./dist/images/television.svg", alt="")
					.inclusive-icon__text
						span Сучасний телевізор

				article.inclusive-icon.column.large-4.medium-4.small-6
					.inclusive-icon__img
						img(src="./dist/images/wifi.svg", alt="")
					.inclusive-icon__text
						span Інтернет

				article.inclusive-icon.column.large-4.medium-4.small-6
					.inclusive-icon__img
						img(src="./dist/images/strongbox.svg", alt="")
					.inclusive-icon__text
						span Приватний сейф

				article.inclusive-icon.column.large-4.medium-4.small-6
					.inclusive-icon__img
						img(src="./dist/images/hair-dryer.svg", alt="")
					.inclusive-icon__text
						span Фен

				article.inclusive-icon.column.large-4.medium-4.small-6
					.inclusive-icon__img
						img(src="./dist/images/wine.svg", alt="")
					.inclusive-icon__text
						span Міні бар

				article.inclusive-icon.column.large-4.medium-4.small-6
					.inclusive-icon__img
						img(src="./dist/images/slippers.svg", alt="")
					.inclusive-icon__text
						span Персональні тапки

				article.inclusive-icon.column.large-4.medium-4.small-6
					.inclusive-icon__img
						img(src="./dist/images/Vector.svg", alt="")
					.inclusive-icon__text
						span М’які рушники

				article.inclusive-icon.column.large-4.medium-4.small-6
					.inclusive-icon__img
						img(src="./dist/images/bathrobe.svg", alt="")
					.inclusive-icon__text
						span Махрові халати
