pug/parts/nav-menu.pug
#menu

	.row
		.header_menu
			.mob_open
				.icon
					.burger
			
			ul.menu
				li
					a(href="#") ГОЛОВНА
				li
					a(href="#about") ПРО ГОТЕЛЬ
				li
					a(href="#rooms") НОМЕРИ
				li
					a(href="#ad") ПЕРЕВАГИ
				li
					a(href="#rev") ВІДГУКИ
				li
					a(href="#conv") ЗРУЧНОСТІ
				li
					a(href="#cont") КОНТАКТИ
				

parts/nav-menu.html

<div id="menu">
  <div class="row">
    <div class="header_menu">
      <div class="mob_open">
        <div class="icon">
          <div class="burger"></div>
        </div>
      </div>
      <ul class="menu">
        <li><a href="#">ГОЛОВНА</a></li>
        <li><a href="#about">ПРО ГОТЕЛЬ</a></li>
        <li><a href="#rooms">НОМЕРИ</a></li>
        <li><a href="#ad">ПЕРЕВАГИ</a></li>
        <li><a href="#rev">ВІДГУКИ</a></li>
        <li><a href="#conv">ЗРУЧНОСТІ</a></li>
        <li><a href="#cont">КОНТАКТИ</a></li>
      </ul>
    </div>
  </div>
</div>
