parts/restaurant-menu.html

<section class="restaurant-menu-wrap">
  <div class="row">
    <div class="restaurant-menu">
      <div class="restaurant-menu__title">
        <div class="title"><span>меню</span></div>
      </div>
      <div class="restaurant-menu__slider column large-6">
        <div class="menuSlider">
          <article>
            <div class="menuSlider-item">
              <div class="menuSlider-item__img"><img src="./dist/images/menu.png" alt=""/></div>
              <div class="menuSlider-item__text"><span>Фарширована річкова форель</span></div>
            </div>
          </article>
          <article>
            <div class="menuSlider-item">
              <div class="menuSlider-item__img"><img src="./dist/images/menu.png" alt=""/></div>
              <div class="menuSlider-item__text"><span>Фарширована річкова форель</span></div>
            </div>
          </article>
          <article>
            <div class="menuSlider-item">
              <div class="menuSlider-item__img"><img src="./dist/images/menu.png" alt=""/></div>
              <div class="menuSlider-item__text"><span>Фарширована річкова форель</span></div>
            </div>
          </article>
        </div>
      </div>
      <div class="restaurant-menu__info column large-6">
        <div class="menu-title"><span>національні та фірмові стрАви</span></div>
        <div class="restaurant-menu-text">
          <p>В готелі присутні два ресторани. Ви можете вибрати страви з національної кухні, або ж розширити смакові відчуття з нашими фірмовими стравами від шеф кухаря. Сніданок у ресторані вже включено у вартість номеру. Додатково можна зпланувати свої обід та вечерю для комплексного відпочинку в горах.</p>
        </div>
        <div class="menu-btn"><a class="btn btn_brown" href="#"> <span>В меню</span></a></div>
      </div>
    </div>
  </div>
</section>

pug/parts/restaurant-menu.pug
section.restaurant-menu-wrap
	.row
		.restaurant-menu
			.restaurant-menu__title
				.title
					span меню
			.restaurant-menu__slider.column.large-6
				.menuSlider
					article
						.menuSlider-item
							.menuSlider-item__img
								img(src="./dist/images/menu.png", alt="")
							.menuSlider-item__text
								span Фарширована річкова форель
					article
						.menuSlider-item
							.menuSlider-item__img
								img(src="./dist/images/menu.png", alt="")
							.menuSlider-item__text
								span Фарширована річкова форель
					article
						.menuSlider-item
							.menuSlider-item__img
								img(src="./dist/images/menu.png", alt="")
							.menuSlider-item__text
								span Фарширована річкова форель

			.restaurant-menu__info.column.large-6
				.menu-title
					span національні та фірмові стрАви
				.restaurant-menu-text
					p В готелі присутні два ресторани. Ви можете вибрати страви з національної кухні, або ж розширити смакові відчуття з нашими фірмовими стравами від шеф кухаря. Сніданок у ресторані вже включено у вартість номеру. Додатково можна зпланувати свої обід та вечерю для комплексного відпочинку в горах.
				.menu-btn
					a.btn.btn_brown(href="#") 
						span В меню
