parts/restaurant-slider.html

<section class="restaurantSlider">
  <slider>
    <div class="roomSlider">
      <article>
        <div class="roomSlider-item">
          <div class="roomSlider-item__img">
            <div class="slide-bg"></div><img src="./dist/images/foto2.png" alt=""/>
          </div>
        </div>
      </article>
      <article>
        <div class="roomSlider-item">
          <div class="roomSlider-item__img">
            <div class="slide-bg"></div><img src="./dist/images/roomslide_1.png" alt=""/>
          </div>
        </div>
      </article>
      <article>
        <div class="roomSlider-item">
          <div class="roomSlider-item__img">
            <div class="slide-bg"></div><img src="./dist/images/foto2.png" alt=""/>
          </div>
        </div>
      </article>
    </div>
    <div class="restaurantSlider__title"><span class="btn">Ресторан</span></div>
  </slider>
</section>

pug/parts/restaurant-slider.pug
section.restaurantSlider
	slider
		.roomSlider

			article
				.roomSlider-item
					.roomSlider-item__img
						.slide-bg
						img(src="./dist/images/foto2.png", alt="")
					
			article
				.roomSlider-item
					.roomSlider-item__img
						.slide-bg
						img(src="./dist/images/roomslide_1.png", alt="")
					
			article
				.roomSlider-item
					.roomSlider-item__img
						.slide-bg
						img(src="./dist/images/foto2.png", alt="")
					


		.restaurantSlider__title
				span.btn Ресторан
