parts/reviews.html

<section>
  <div class="row">
    <div class="reviews clearfix" id="rev">
      <article class="column large-4 medium-6">
        <div class="reviews-item">
          <div class="reviews-item__img"><img src="./dist/images/reviews-foto.png" alt=""/></div>
          <div class="reviews-item__content">
            <div class="reviews-item__name"><span>Віолетта</span></div>
            <div class="reviews-item__text"><span>Зручне розташування готелю. Добре харчування. Ніяких проблем..</span></div>
            <div class="reviews-item__date"><span> Грудень 2017</span></div>
          </div>
        </div>
      </article>
      <article class="column large-4 medium-6">
        <div class="reviews-item">
          <div class="reviews-item__img"><img src="./dist/images/reviews-foto.png" alt=""/></div>
          <div class="reviews-item__content">
            <div class="reviews-item__name"><span>Віолетта</span></div>
            <div class="reviews-item__text"><span>Зручне розташування готелю. Добре харчування. Ніяких проблем..</span></div>
            <div class="reviews-item__date"><span> Грудень 2017</span></div>
          </div>
        </div>
      </article>
      <article class="column large-4 medium-6">
        <div class="reviews-item">
          <div class="reviews-item__img"><img src="./dist/images/reviews-foto.png" alt=""/></div>
          <div class="reviews-item__content">
            <div class="reviews-item__name"><span>Віолетта</span></div>
            <div class="reviews-item__text"><span>Зручне розташування готелю. Добре харчування. Ніяких проблем..</span></div>
            <div class="reviews-item__date"><span> Грудень 2017</span></div>
          </div>
        </div>
      </article>
      <article class="column large-4 medium-6">
        <div class="reviews-item">
          <div class="reviews-item__img"><img src="./dist/images/reviews-foto.png" alt=""/></div>
          <div class="reviews-item__content">
            <div class="reviews-item__name"><span>Віолетта</span></div>
            <div class="reviews-item__text"><span>Зручне розташування готелю. Добре харчування. Ніяких проблем..</span></div>
            <div class="reviews-item__date"><span> Грудень 2017</span></div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

pug/parts/reviews.pug
section
	.row
		#rev.reviews.clearfix
			article.column.large-4.medium-6
				.reviews-item
					.reviews-item__img
						img(src="./dist/images/reviews-foto.png", alt="")
					.reviews-item__content
						.reviews-item__name
							span Віолетта
						//- .reviews-item__loc
						//- 	span Київ
						.reviews-item__text
							span Зручне розташування готелю. Добре харчування. Ніяких проблем..
						.reviews-item__date
							span  Грудень 2017
			article.column.large-4.medium-6
				.reviews-item
					.reviews-item__img
						img(src="./dist/images/reviews-foto.png", alt="")
					.reviews-item__content
						.reviews-item__name
							span Віолетта
						//- .reviews-item__loc
						//- 	span Київ
						.reviews-item__text
							span Зручне розташування готелю. Добре харчування. Ніяких проблем..
						.reviews-item__date
							span  Грудень 2017
			article.column.large-4.medium-6
				.reviews-item
					.reviews-item__img
						img(src="./dist/images/reviews-foto.png", alt="")
					.reviews-item__content
						.reviews-item__name
							span Віолетта
						//- .reviews-item__loc
						//- 	span Київ
						.reviews-item__text
							span Зручне розташування готелю. Добре харчування. Ніяких проблем..
						.reviews-item__date
							span  Грудень 2017
			article.column.large-4.medium-6
				.reviews-item
					.reviews-item__img
						img(src="./dist/images/reviews-foto.png", alt="")
					.reviews-item__content
						.reviews-item__name
							span Віолетта
						//- .reviews-item__loc
						//- 	span Київ
						.reviews-item__text
							span Зручне розташування готелю. Добре харчування. Ніяких проблем..
						.reviews-item__date
							span  Грудень 2017
