parts/roomSlider.html

<section class="roomSlider-wrap">
  <slider>
    <div class="roomSlider">
      <article>
        <div class="roomSlider-item">
          <div class="roomSlider-item__img">
            <div class="slide-bg"></div><img src="./dist/images/roomslide_1.png" alt=""/>
          </div>
        </div>
      </article>
      <article>
        <div class="roomSlider-item">
          <div class="roomSlider-item__img">
            <div class="slide-bg"></div><img src="./dist/images/roomslide_1.png" alt=""/>
          </div>
        </div>
      </article>
      <article>
        <div class="roomSlider-item">
          <div class="roomSlider-item__img">
            <div class="slide-bg"></div><img src="./dist/images/roomslide_1.png" alt=""/>
          </div>
        </div>
      </article>
    </div>
    <div class="roomSlider__title"><span class="btn">двомісний Номер “СТАНДАРТ”</span></div>
  </slider>
</section>

pug/parts/roomSlider.pug
section.roomSlider-wrap
	slider
		.roomSlider
			article
				.roomSlider-item
					.roomSlider-item__img
						.slide-bg
						img(src="./dist/images/roomslide_1.png", alt="")
		
			article
				.roomSlider-item
					.roomSlider-item__img
						.slide-bg
						img(src="./dist/images/roomslide_1.png", alt="")
					
			article
				.roomSlider-item
					.roomSlider-item__img
						.slide-bg
						img(src="./dist/images/roomslide_1.png", alt="")
					
		.roomSlider__title
			span.btn двомісний Номер “СТАНДАРТ”
