parts/rooms-hotel.html

<section class="rooms-wrap" id="rooms">
  <div class="row">
    <div class="rooms-hotel clearfix">
      <div class="rooms-hotel__content column large-5 medium-12">
        <div class="title"><span>КАТЕГОРІЇ НОМЕРІВ</span></div>
        <div class="rooms-hotel__text">
          <p>Кожна кімната Girski Hotel&Spa - це острівець затишку і спокою в сучасному світі суєти. З вікон кожного номеру відкривається чарівний краєвид.</p>
          <p>Ми гарантуємо комфортні умови для відпочинку. Ви будете приємно здивовані сервісом та багатою інфраструктурою готелю: незалежно від сезону року та компанії гостей, ми запропонуємо розваги та оздоровчі процедури на будь-який смак!</p>
        </div>
        <div class="rooms-hotel__btn"><a class="btn btn_brown" href="#"><span>бронювати</span></a></div>
      </div>
      <div class="rooms-hotel__rooms column large-7 medium-12">
        <div class="room-items"><a class="room-item" href="room.html">
            <div class="room-item__class-room"><span>СТАНДАРТ</span></div>
            <div class="room-item__img"><img src="./dist/images/room_item.png" alt=""/></div>
            <div class="room-item__price"><span>від 1750 ГРН</span></div>
            <div class="room-item__info"><span>Номер “Стандарт” включає одне двоспальне ліжко. Виконаний з екологічно чистих матеріалів.</span></div></a><a class="room-item" href="room.html">
            <div class="room-item__class-room"><span>ЛЮКС</span></div>
            <div class="room-item__img"><img src="./dist/images/room_item2.png" alt=""/></div>
            <div class="room-item__price"><span>від 3500 ГРН</span></div>
            <div class="room-item__info"><span>Номер "Люкс" задовільнить потреби навіть найвибагливіших гостей. Виконаний з екологічно чистих матеріалів.</span></div></a></div>
      </div>
    </div>
  </div>
</section>

pug/parts/rooms-hotel.pug
section.rooms-wrap#rooms
	.row
		.rooms-hotel.clearfix
			.rooms-hotel__content.column.large-5.medium-12
				.title
					span КАТЕГОРІЇ НОМЕРІВ
				.rooms-hotel__text
					p Кожна кімната Girski Hotel&Spa - це острівець затишку і спокою в сучасному світі суєти. З вікон кожного номеру відкривається чарівний краєвид.
					p Ми гарантуємо комфортні умови для відпочинку. Ви будете приємно здивовані сервісом та багатою інфраструктурою готелю: незалежно від сезону року та компанії гостей, ми запропонуємо розваги та оздоровчі процедури на будь-який смак!
				.rooms-hotel__btn
					a.btn.btn_brown(href="#")
						span бронювати
			.rooms-hotel__rooms.column.large-7.medium-12
				.room-items
					a(href="room.html").room-item
						.room-item__class-room
							span СТАНДАРТ
						.room-item__img
							img(src="./dist/images/room_item.png", alt="")
						.room-item__price
							span від 1750 ГРН
						.room-item__info
							span Номер “Стандарт” включає одне двоспальне ліжко. Виконаний з екологічно чистих матеріалів.
					a(href="room.html").room-item
						.room-item__class-room
							span ЛЮКС
						.room-item__img
							img(src="./dist/images/room_item2.png", alt="")
						.room-item__price
							span від 3500 ГРН
						.room-item__info
							span Номер "Люкс" задовільнить потреби навіть найвибагливіших гостей. Виконаний з екологічно чистих матеріалів.
