pug/parts/roomPrice.pug
section.room-price-wrap
	.row
		.room-price.clearfix
			.room-price__title
				.title
					span ВАРТІСТЬ ПРОЖИВАННЯ
			.room-price__price.column.large-6
				table.minimalistBlack
					thead
						tr
							th Дата
							th Ціна, грн
							
					tbody
						tr
							td 15.11 – 01.12
							td 1750
							
						tr
							td 01.12 – 29.12
							td 2100
							
						tr
							td 29.12 – 10.01
							td 5250
							
						tr
							td 10.01 – 31.01
							td 3150
							
						tr
							td 31.01 – 10.03
							td 2700
							
						tr
							td 10.03 – ...
							td 1800
							
				.price-text
					p Діти до трьох років проживають з батьками безкоштовно. Додаткове ліжко +400 грн. Ціна вказана за одну ніч.
				.room-price__btn
					a.btn.btn_brown(href="#") 
						span бронювати
			.room-price__text.column.large-6
				p Кожна кімната Girski Hotel&Spa - це острівець затишку і спокою в сучасному світі суєти. З вікон кожного номеру відкривається чарівний краєвид.
				p Для незабутнього відпочинку для двох пропонуються розкішні номери категорії "Стандарт". Ми гарантуємо комфортні умови для відпочинку. Ви будете приємно здивовані сервісом та багатою інфраструктурою готелю: незалежно від сезону року та компанії гостей, ми запропонуємо розваги та оздоровчі процедури на будь-який смак!
				p Також ми подбали про те, щоб у ванній кімнаті було все необхідне: набір м'яких рушників, махрові халати, фен, одноразові тапочки і косметичний набір.

parts/roomPrice.html

<section class="room-price-wrap">
  <div class="row">
    <div class="room-price clearfix">
      <div class="room-price__title">
        <div class="title"><span>ВАРТІСТЬ ПРОЖИВАННЯ</span></div>
      </div>
      <div class="room-price__price column large-6">
        <table class="minimalistBlack">
          <thead>
            <tr>
              <th>Дата</th>
              <th>Ціна, грн</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>15.11 – 01.12</td>
              <td>1750</td>
            </tr>
            <tr>
              <td>01.12 – 29.12</td>
              <td>2100</td>
            </tr>
            <tr>
              <td>29.12 – 10.01</td>
              <td>5250</td>
            </tr>
            <tr>
              <td>10.01 – 31.01</td>
              <td>3150</td>
            </tr>
            <tr>
              <td>31.01 – 10.03</td>
              <td>2700</td>
            </tr>
            <tr>
              <td>10.03 – ...</td>
              <td>1800</td>
            </tr>
          </tbody>
        </table>
        <div class="price-text">
          <p>Діти до трьох років проживають з батьками безкоштовно. Додаткове ліжко +400 грн. Ціна вказана за одну ніч.</p>
        </div>
        <div class="room-price__btn"><a class="btn btn_brown" href="#"> <span>бронювати</span></a></div>
      </div>
      <div class="room-price__text column large-6">
        <p>Кожна кімната Girski Hotel&Spa - це острівець затишку і спокою в сучасному світі суєти. З вікон кожного номеру відкривається чарівний краєвид.</p>
        <p>Для незабутнього відпочинку для двох пропонуються розкішні номери категорії "Стандарт". Ми гарантуємо комфортні умови для відпочинку. Ви будете приємно здивовані сервісом та багатою інфраструктурою готелю: незалежно від сезону року та компанії гостей, ми запропонуємо розваги та оздоровчі процедури на будь-який смак!</p>
        <p>Також ми подбали про те, щоб у ванній кімнаті було все необхідне: набір м'яких рушників, махрові халати, фен, одноразові тапочки і косметичний набір.</p>
      </div>
    </div>
  </div>
</section>
