spa.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>girski</title>
    <meta name="description" content="">
    <meta name="copyright" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="dist/scripts/jquery.js"></script>
    <script type="text/javascript" src="dist/scripts/main.js"> </script>
    <link rel="stylesheet" href="dist/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:500,400|Roboto:300,400,500,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="dist/images/favicon.png">
  </head>
  <body>
    <header>
      <div class="reveal" id="exampleModal1" data-reveal="">
        <div class="popupForm clearfix">
          <div class="form__logo"><img src="./dist/images/form_logo.png" alt=""></div>
          <div class="form_tabs">
            <ul>
              <li class="form1 tab-active" data-collection="1" data-triger="0">БРОНЮВАННЯ</li>
              <li class="form2" data-collection="1" data-triger="1">ЗВ’ЯЗАТИСЬ</li>
            </ul>
          </div>
          <div class="booking_form pop_form active" data-collection="1" data-target="0">
            <div class="contact_us__success">
              <h2>ВІДПРАВЛЕННЯ ЗАЯВКИ УСПІШНЕ!</h2>
              <p>Ви успішно відправили заявку до готелю “Гірскі”. Очікуйте дзвінка від менеджера.</p>
              <button class="close-button" id="btn_success" data-close="" aria-label="Close reveal" type="button">Закрити</button>
            </div>
            <form class="book_form">
              <div class="large-6 medium-6 small-12">
                <p>Номер:</p>
                <select name="classRoom">
                  <option>Вибрати номер</option>
                  <option>Стандарт</option>
                  <option>Напівлюкс</option>
                  <option>Люкс</option>
                </select>
              </div>
              <div class="large-6 medium-6 small-12">
                <div class="number">
                  <div class="Adults large-6 medium-6">
                    <p>Дорослих:</p>
                    <div class="value-button" id="decrease" value="Decrease Value">-</div>
                    <input type="number" name="Adults" id="number" value="0">
                    <div class="value-button" id="increase" value="Increase Value">+</div>
                  </div>
                  <div class="Children large-6 medium-6">
                    <p>Дітей:</p>
                    <div class="value-button" id="decrease2" value="Decrease Value">-</div>
                    <input type="number" name="Children" id="number2" value="0">
                    <div class="value-button" id="increase2" value="Increase Value">+</div>
                  </div>
                </div>
              </div>
              <div class="large-6 medium-6 small-12">
                <p>Дата заїзду</p>
                <input class="datepicker-begin" type="text" name="date_begin" readonly id="date_begin" required>
              </div>
              <div class="large-6 medium-6 small-12">
                <p>Дата виїзду</p>
                <input class="datepicker-finish" type="text" id="date_end" readonly name="date_end" required>
              </div>
              <div class="large-6 medium-6 small-12">
                <p>Ім’я </p>
                <input type="text" name="name" placeholder="Введіть Ім’я ">
              </div>
              <div class="large-6 medium-6 small-12">
                <p>Телефон </p>
                <input type="text" name="phone" placeholder="Введіть Телефон">
              </div>
              <div class="large-12 medium-12 small-12">
                <p>Уточнення</p>
                <textarea placeholder="Введіть Повідомлення"></textarea>
              </div>
              <div class="form_text">
                <p>Передоплата в розмірі 50%, заїзд — до 14:00, виїзд — після 12:00</p>
              </div>
              <div class="popupForm__btn columns">
                <button class="button success" type="submit">Записатись</button>
              </div>
            </form>
          </div>
          <div class="contact_form pop_form" data-collection="1" data-target="1">
            <div class="contact_us__success">
              <h2>ВІДПРАВЛЕННЯ ЗАЯВКИ УСПІШНЕ!</h2>
              <p>Ви успішно відправили заявку до готелю “Гірскі”. Очікуйте дзвінка від менеджера.</p>
              <button class="close-button" id="btn_success" data-close="" aria-label="Close reveal" type="button">Закрити</button>
            </div>
            <form class="book_form">
              <div class="form-text">
                <p>Зателефонуйте нам, або заповніть форму і ми вам передзвоннм</p><a href="tel: +380 98 80 10 800">+380 98 80 10 800</a>
              </div>
              <div class="columns">
                <p>Ім’я 
                  <input type="text">
                </p>
                <p>Телефон
                  <input type="text">
                </p>
                <div class="popupForm__btn columns">
                  <button class="button success" type="submit">Записатись</button>
                </div>
              </div>
            </form>
          </div>
          <div class="form__img"><img src="./dist/images/form-img.png" alt=""></div>
        </div>
        <button class="close-button" data-close="" aria-label="Close reveal" type="button"><span aria-hidden="true">×</span></button>
      </div>
      <div class="header header_transparent">
        <div class="header-top-wrap">
          <div class="row">
            <div class="header__top">
              <div class="top-menu">
                <nav>
                  <ul>
                    <li> <a href="#">УКР</a></li>
                    <li><a href="video.html">3D Панорами</a></li>
                    <li><a href="blog.html">Блог</a></li>
                    <li><a href="">Відео</a></li>
                  </ul>
                </nav>
              </div>
              <div class="top-contacts"><span>Інформація за телефоном:</span><a href="tel:+380 98 80 10 800">+380 98 80 10 800</a></div>
            </div>
          </div>
        </div>
        <div class="header__menu">
          <div class="mob_open">
            <div class="icon">
              <div class="burger"></div>
            </div>
          </div>
          <div class="logo-mob"><a href="index.html"><img class="logo-white" src="./dist/images/footer-logo.png" alt=""></a></div>
          <div class="row">
            <div class="nav-menu">
              <ul class="nav-menu_left h-menu">
                <li><a href="#">ПРО ГОТЕЛЬ</a></li>
                <li><a href="index.html#rooms">НОМЕРИ</a></li>
                <li><a href="restaurant.html">ресторан</a></li>
              </ul>
              <div class="header__logo"><a href="index.html"><img class="logo-black" src="./dist/images/form_logo.png" alt=""><img class="logo-white" src="./dist/images/footer-logo.png" alt=""></a></div>
              <ul class="nav-menu_right h-menu">
                <li><a href="#">ЗРУЧНОСТІ</a></li>
                <li><a href="#">бронювання</a></li>
                <li><a href="contacts.html">КОНТАКТИ</a></li>
              </ul>
              <div class="bottom-mob-menu show-for-small-only">
                <nav>
                  <ul>
                    <li> <a href="#">УКР</a></li>
                    <li><a href="video.html">3D Панорами</a></li>
                    <li><a href="blog.html">Блог</a></li>
                    <li><a href="#">Відео</a></li>
                  </ul>
                </nav>
                <div class="bottom-mob-menu__phone">
                  <p>Інформація за телефоном:</p><a href="tel:+380 98 80 10 800">+380 98 80 10 800</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="roomSlider-wrap">
      <slider>
        <div class="roomSlider">
          <article>
            <div class="roomSlider-item">
              <div class="roomSlider-item__img">
                <div class="slide-bg"></div><img src="./dist/images/spa4.png" alt="">
              </div>
            </div>
          </article>
          <article>
            <div class="roomSlider-item">
              <div class="roomSlider-item__img">
                <div class="slide-bg"></div><img src="./dist/images/spa.png" alt="">
              </div>
            </div>
          </article>
          <article>
            <div class="roomSlider-item">
              <div class="roomSlider-item__img">
                <div class="slide-bg"></div><img src="./dist/images/spa1.png" alt="">
              </div>
            </div>
          </article>
          <article>
            <div class="roomSlider-item">
              <div class="roomSlider-item__img">
                <div class="slide-bg"></div><img src="./dist/images/spa2.png" alt="">
              </div>
            </div>
          </article>
        </div>
        <div class="roomSlider__title"><span class="btn">SPA центр</span></div>
      </slider>
    </section>
    <section class="SPA-wrap">
      <div class="row">
        <div class="restaurant-menu">
          <div class="restaurant-menu__title">
            <div class="title"><span>SPA</span></div>
          </div>
          <div class="restaurant-menu__slider column large-6">
            <div class="menuSlider">
              <article>
                <div class="menuSlider-item">
                  <div class="menuSlider-item__img"><img src="./dist/images/spa.png" alt=""></div>
                  <div class="menuSlider-item__text"><span>СПА центр готелю</span></div>
                </div>
              </article>
              <article>
                <div class="menuSlider-item">
                  <div class="menuSlider-item__img"><img src="./dist/images/spa1.png" alt=""></div>
                  <div class="menuSlider-item__text"><span>СПА центр готелю</span></div>
                </div>
              </article>
              <article>
                <div class="menuSlider-item">
                  <div class="menuSlider-item__img"><img src="./dist/images/spa2.png" alt=""></div>
                  <div class="menuSlider-item__text"><span>СПА центр готелю</span></div>
                </div>
              </article>
            </div>
          </div>
          <div class="restaurant-menu__info column large-6">
            <div class="menu-title"><span>Особливістю готелю</span></div>
            <div class="restaurant-menu-text">
              <p>Родзинкою готелю, безперечно, є SPA-комплекс. До ваших послуг басейн, сауна на дровах, турецька баня хамам, джакузі та гідромасаж, а також відпочинкова кімната. Проведіть час у "Goral Hotel & Spa" із задоволенням!</p>
            </div>
            <div class="menu-btn"><a class="btn" href="#">забронювати номер</a></div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="vine-card clearfix">
          <div class="vine-card__title">
            <div class="title right"><span>басейн</span></div>
          </div>
          <div class="vine-card__info column large-5">
            <div class="vine-card-title"><span>Критий басейн</span></div>
            <div class="vine-card-text">
              <p>Для любителів східної бані пропонуємо хамам. Витримані традиції турецької бані та витончений дизайн, що поєднує візантійські та карпатські мотиви приємно вас вразять. Після процедур або між ними ви можете відвідати кімнату відпочинку.</p>
            </div>
            <div class="vine-card-btn"><a class="btn" href="#">бронювати</a></div>
          </div>
          <div class="vine-card__foto column large-6"><img src="./dist/images/spa1.png" alt=""><img src="./dist/images/spa2.png" alt=""></div>
        </div>
      </div>
    </section>
    <section class="spa-sauna">
      <div class="row">
        <div class="vine-card vine-card_spa clearfix">
          <div class="vine-card__title">
            <div class="title"><span>сауна</span></div>
          </div>
          <div class="vine-card__foto column large-6"><img src="./dist/images/spa.png" alt=""><img src="./dist/images/spa4.png" alt=""></div>
          <div class="vine-card__info column large-5">
            <div class="vine-card-title"><span>Сауна на дровах</span></div>
            <div class="vine-card-text">
              <p>Простора сауна на дровах карпатських порід – це якісне оздоровлення дихальних шляхів та шкірного покриву. Теплий дизайн та ергономічне вирішення не залишуть вас байдужими.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="vine-card clearfix">
          <div class="vine-card__title">
            <div class="title right"><span>Хамам</span></div>
          </div>
          <div class="vine-card__info column large-5">
            <div class="vine-card-title"><span>Хамам та кімната відпочинку</span></div>
            <div class="vine-card-text">
              <p>У готелі передбачений басейн площею 6×12 м . </p>
              <p>Зручний вхід, зонування, зокрема, розрахована мілка зона для наших найменших гостей.</p>
            </div>
            <div class="vine-card-btn"><a class="btn" href="#">бронювати</a></div>
          </div>
          <div class="vine-card__foto column large-6"><img src="./dist/images/spa.png" alt=""><img src="./dist/images/spa4.png" alt=""></div>
        </div>
      </div>
    </section>
    <section class="rooms-wrap">
      <div class="row">
        <div class="title right"><span>КАТЕГОРІЇ НОМЕРІВ</span></div>
        <div class="rooms-hotel clearfix" id="rooms">
          <div class="rooms-hotel__content column large-5 medium-12">
            <div class="rooms-hotel-title"><span>номери для двох або компанії</span></div>
            <div class="rooms-hotel__text">
              <p>Кожна кімната Girski Hotel&Spa - це острівець затишку і спокою в сучасному світі суєти. З вікон кожного номеру відкривається чарівний краєвид.</p>
              <p>Ми гарантуємо комфортні умови для відпочинку. Ви будете приємно здивовані сервісом та багатою інфраструктурою готелю: незалежно від сезону року та компанії гостей, ми запропонуємо розваги та оздоровчі процедури на будь-який смак!</p>
            </div>
            <div class="rooms-hotel__btn"><a class="btn btn_brown" href="#">бронювати</a></div>
          </div>
          <div class="rooms-hotel__rooms column large-7 medium-12">
            <div class="room-items">
              <div class="room-item btn_f1" data-open="exampleModal1">
                <div class="room-item__class-room"><span>СТАНДАРТ</span></div>
                <div class="room-item__img"><img src="./dist/images/room_item.png" alt=""></div>
                <div class="room-item__price"><span>від 1750 ГРН</span></div>
                <div class="room-item__info"><span>Номер “Стандарт” включає одне двоспальне ліжко. Виконаний з екологічно чистих матеріалів.</span></div>
              </div>
              <div class="room-item btn_f1" data-open="exampleModal1">
                <div class="room-item__class-room"><span>ЛЮКС</span>
                  <p>(для великої компанії)</p>
                </div>
                <div class="room-item__img"><img src="./dist/images/room_item2.png" alt=""></div>
                <div class="room-item__price"><span>від 3500 ГРН</span></div>
                <div class="room-item__info"><span>Номер "Люкс" задовільнить потреби навіть найвибагливіших гостей. Виконаний з екологічно чистих матеріалів.</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="advanteges-wrap" id="ad">
        <div class="row">
          <div class="advanteges clearfix">
            <div class="advanteges__content column large-5">
              <div class="advanteges__cont">
                <div class="advanteges-title">
                  <div class="title"><span>ПЕРЕВАГИ</span></div>
                </div>
                <div class="advanteges-text">
                  <p>Високий рівень обслуговуваня та  комфору, зробить ваш відпочинок ідеальним!</p>
                </div>
                <div class="advanteges-icons">
                  <div class="advanteges-icon large-4 small-6 column">
                    <div class="advanteges-icon__img"><img src="./dist/images/icon1.svg" alt=""></div>
                    <div class="advanteges-icon__text"><span>Ресторан Хороша кухня </span></div>
                  </div>
                  <div class="advanteges-icon large-4 small-6 column">
                    <div class="advanteges-icon__img"><img src="./dist/images/icon2.svg" alt=""></div>
                    <div class="advanteges-icon__text"><span>Надзвичайно красиві краєвиди з вікна</span></div>
                  </div>
                  <div class="advanteges-icon large-4 small-6 column">
                    <div class="advanteges-icon__img"><img src="./dist/images/icon4.svg" alt=""></div>
                    <div class="advanteges-icon__text"><span>Приміщення для зберігання лиж</span></div>
                  </div>
                  <div class="advanteges-icon large-4 small-6 column">
                    <div class="advanteges-icon__img"><img src="./dist/images/icon5.svg" alt=""></div>
                    <div class="advanteges-icon__text"><span>Безкоштовна парковка  </span></div>
                  </div>
                  <div class="advanteges-icon large-4 small-6 column">
                    <div class="advanteges-icon__img"><img src="./dist/images/icon6.svg" alt=""></div>
                    <div class="advanteges-icon__text"><span>Конференц зал на 50 чоловік</span></div>
                  </div>
                  <div class="advanteges-icon large-4 small-6 column">
                    <div class="advanteges-icon__img"><img src="./dist/images/icon7.svg" alt=""></div>
                    <div class="advanteges-icon__text"><span>Трансфер до готелю та підйомників </span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="advanteges__img column large-7"><img src="./dist/images/foto.png" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="homeform" id="cont">
        <div class="row">
          <div class="homeform__title">
            <div class="title center"><span>ОНЛАЙН ЗАЯВКА</span></div>
          </div>
          <div class="homeform__text">
            <p>Ласкаво просимо на незабутній відпочинок!</p>
            <p>Доступні та комфортні способи відправлення бронювання.</p>
            <p>
               Скористайтеся сервісом <a href="#">booking.com</a>, відправте заявку за допомогою наших сторінок в соціальних мережах, зателефонуйте або просто натисніть кнопку!</p>
          </div>
          <div class="homeform__btn"><a class="btn btn_f1 btn_brown" data-open="exampleModal1"> <span>Забронювати</span></a></div>
          <div class="homeform__phone"><a class="btn_f2" data-open="exampleModal1"> <img src="./dist/images/phone.svg" alt=""><img src="./dist/images/phone-b.svg" alt=""></a></div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer clearfix">
        <div class="row">
          <div class="footer__contacts large-5 medium-5 small-12 columns">
            <div class="footer-addres">
              <p>с. Поляниця Підгірне, 654  Івано-Франківська обл.</p>
            </div>
            <div class="footer-contacts">
              <div class="footer-soc"><a href="#"><img src="./dist/images/fb.svg" alt=""></a><a href="#"><img src="./dist/images/inst.svg" alt=""></a></div>
              <div class="footer-phone">
                <ul>
                  <li><a href="tel:+380 98 80 10 800">+380 98 80 10 800</a></li>
                  <li><a href="tel:+380 66 55 77 803">+380 66 55 77 803</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer__logo large-2 medium-3 small-12 columns"><a href="#"><img src="./dist/images/footer-logo.png" alt=""></a></div>
          <div class="footer__copy large-5 medium-4 small-12 columns">
            <div class="lionline"><span>
                 Created by <a href="#">LIONLINE </a>© 2018</span></div>
            <div class="copy"><span>GIRSKI Hotel & Spa. </span><span>Усі права захищено.</span></div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

pug/spa.pug
doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/headerNew
		section.roomSlider-wrap
			slider
				.roomSlider
					article
						.roomSlider-item
							.roomSlider-item__img
								.slide-bg
								img(src="./dist/images/spa4.png", alt="")
				
					article
						.roomSlider-item
							.roomSlider-item__img
								.slide-bg
								img(src="./dist/images/spa.png", alt="")
				
					article
						.roomSlider-item
							.roomSlider-item__img
								.slide-bg
								img(src="./dist/images/spa1.png", alt="")
							
					article
						.roomSlider-item
							.roomSlider-item__img
								.slide-bg
								img(src="./dist/images/spa2.png", alt="")
							
				.roomSlider__title
					span.btn SPA центр
		section.SPA-wrap
			.row
				.restaurant-menu
					.restaurant-menu__title
						.title
							span SPA
					.restaurant-menu__slider.column.large-6
						.menuSlider
							article
								.menuSlider-item
									.menuSlider-item__img
										img(src="./dist/images/spa.png", alt="")
									.menuSlider-item__text
										span СПА центр готелю
							article
								.menuSlider-item
									.menuSlider-item__img
										img(src="./dist/images/spa1.png", alt="")
									.menuSlider-item__text
										span СПА центр готелю
							article
								.menuSlider-item
									.menuSlider-item__img
										img(src="./dist/images/spa2.png", alt="")
									.menuSlider-item__text
										span СПА центр готелю

					.restaurant-menu__info.column.large-6
						.menu-title
							span Особливістю готелю
						.restaurant-menu-text
							p Родзинкою готелю, безперечно, є SPA-комплекс. До ваших послуг басейн, сауна на дровах, турецька баня хамам, джакузі та гідромасаж, а також відпочинкова кімната. Проведіть час у "Goral Hotel & Spa" із задоволенням!
						.menu-btn
							a.btn(href="#") забронювати номер

		section
			.row
				.vine-card.clearfix
					.vine-card__title
						.title.right
							span басейн
					.vine-card__info.column.large-5
						.vine-card-title
							span Критий басейн
						.vine-card-text
							p Для любителів східної бані пропонуємо хамам. Витримані традиції турецької бані та витончений дизайн, що поєднує візантійські та карпатські мотиви приємно вас вразять. Після процедур або між ними ви можете відвідати кімнату відпочинку.
						.vine-card-btn
							a.btn(href="#") бронювати
					.vine-card__foto.column.large-6
						img(src="./dist/images/spa1.png", alt="")
						img(src="./dist/images/spa2.png", alt="")
		section.spa-sauna
			.row
				.vine-card.vine-card_spa.clearfix
					.vine-card__title
						.title
							span сауна
					.vine-card__foto.column.large-6
						img(src="./dist/images/spa.png", alt="")
						img(src="./dist/images/spa4.png", alt="")
					.vine-card__info.column.large-5
						.vine-card-title
							span Сауна на дровах
						.vine-card-text
							p Простора сауна на дровах карпатських порід – це якісне оздоровлення дихальних шляхів та шкірного покриву. Теплий дизайн та ергономічне вирішення не залишуть вас байдужими.

					
		section
			.row
				.vine-card.clearfix
					.vine-card__title
						.title.right
							span Хамам
					.vine-card__info.column.large-5
						.vine-card-title
							span Хамам та кімната відпочинку
						.vine-card-text
							p У готелі передбачений басейн площею 6×12 м . 
							p Зручний вхід, зонування, зокрема, розрахована мілка зона для наших найменших гостей.
						.vine-card-btn
							a.btn(href="#") бронювати
					.vine-card__foto.column.large-6
						img(src="./dist/images/spa.png", alt="")
						img(src="./dist/images/spa4.png", alt="")

		section.rooms-wrap
			.row
				.title.right
					span КАТЕГОРІЇ НОМЕРІВ
				#rooms.rooms-hotel.clearfix
					.rooms-hotel__content.column.large-5.medium-12
						.rooms-hotel-title
							span номери для двох або компанії
						.rooms-hotel__text
							p Кожна кімната Girski Hotel&Spa - це острівець затишку і спокою в сучасному світі суєти. З вікон кожного номеру відкривається чарівний краєвид.
							p Ми гарантуємо комфортні умови для відпочинку. Ви будете приємно здивовані сервісом та багатою інфраструктурою готелю: незалежно від сезону року та компанії гостей, ми запропонуємо розваги та оздоровчі процедури на будь-який смак!
						.rooms-hotel__btn
							a.btn.btn_brown(href="#") бронювати
					.rooms-hotel__rooms.column.large-7.medium-12
						.room-items
							.room-item.btn_f1(data-open='exampleModal1')
								.room-item__class-room
									span СТАНДАРТ
								.room-item__img
									img(src="./dist/images/room_item.png", alt="")
								.room-item__price
									span від 1750 ГРН
								.room-item__info
									span Номер “Стандарт” включає одне двоспальне ліжко. Виконаний з екологічно чистих матеріалів.
							.room-item.btn_f1(data-open='exampleModal1')
								.room-item__class-room
									span ЛЮКС
									p (для великої компанії)
								.room-item__img
									img(src="./dist/images/room_item2.png", alt="")
								.room-item__price
									span від 3500 ГРН
								.room-item__info
									span Номер "Люкс" задовільнить потреби навіть найвибагливіших гостей. Виконаний з екологічно чистих матеріалів.
		include ./parts/advanteges
		include ./parts/homeForm
		include ./parts/footerNew
